<!DOCTYPE html>
<html>
	<title>POLL APP</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container jumbotron">
     {% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <!-- <li><a href="/{{ question.id }}/">{{ question.question_text }}</a></li> -->
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
	{% else %}
    <p>No polls are available.</p>
	{% endif %}
	</div>
	<footer>
	<p align="center"> Copyright © All Rights
                Reserved by the Company <br> </p>
 	</footer>
</body>
</html>
